<div id="fixedheader">
			<div class="cs-squeeze">
				<nav>
          <!-- <a class="toggler visible" href="">Saved Searches</a> -->
					<a href="/user/savedsearch">Manage Favorites</a>
          <a href="/user/search">Search</a>
          <a href="/user/dashboard">Dashboard</a>
          <a href="/">Home</a>
          <a href="/user/userprofile">Profile</a>
				</nav>
			</div>
</div>
