<div id="fixedheader">
			<div class="cs-squeeze">
				<nav>
          <a class="toggler visible" href="">Saved Searches</a>
          <a href="/search">Search</a>
          <a href="/dashboard">Dashboard</a>
          <a href="/">Home</a>
          <a href="/profile">Profile</a>
				</nav>
			</div>
</div>
