<link href="/css/Chapter.css" rel="stylesheet" type="text/css">

<table id="dashTable">
      <tbody><tr>
        <td>
          <div id="box"><img src="http://jnrgym.com/wp-content/uploads/2013/08/Facebook-no-profile-picture-icon-620x389.jpg" alt="Smiley face" height="200" width="300"></div>
          <button type="button">Likes</button>
          <button type="button">Comments</button>
        </td>

        <td>
          <div id="box"><img src="http://jnrgym.com/wp-content/uploads/2013/08/Facebook-no-profile-picture-icon-620x389.jpg" alt="Smiley face" height="200" width="300"></div>
          <button type="button">Likes</button>
          <button type="button">Comments</button>
        </td>

        <td>
          <div id="box"><img src="http://jnrgym.com/wp-content/uploads/2013/08/Facebook-no-profile-picture-icon-620x389.jpg" alt="Smiley face" height="200" width="300"></div>
          <button type="button">Likes</button>
          <button type="button">Comments</button>
        </td>
      </tr>

      <tr>
        <td>
          <div id="box"><img src="http://jnrgym.com/wp-content/uploads/2013/08/Facebook-no-profile-picture-icon-620x389.jpg" alt="Smiley face" height="200" width="300"></div>
          <button type="button">Likes</button>
          <button type="button">Comments</button>
        </td>

        <td>
          <div id="box"><img src="http://jnrgym.com/wp-content/uploads/2013/08/Facebook-no-profile-picture-icon-620x389.jpg" alt="Smiley face" height="200" width="300"></div>
          <button type="button">Likes</button>
          <button type="button">Comments</button>
        </td>

        <td>
          <div id="box"><img src="http://jnrgym.com/wp-content/uploads/2013/08/Facebook-no-profile-picture-icon-620x389.jpg" alt="Smiley face" height="200" width="300"></div>
          <button type="button">Likes</button>
          <button type="button">Comments</button>
        </td>
      </tr>

      <tr>
        <td>
          <div id="box"><img src="http://jnrgym.com/wp-content/uploads/2013/08/Facebook-no-profile-picture-icon-620x389.jpg" alt="Smiley face" height="200" width="300"></div>
          <button type="button">Likes</button>
          <button type="button">Comments</button>
        </td>

        <td>
          <div id="box"><img src="http://jnrgym.com/wp-content/uploads/2013/08/Facebook-no-profile-picture-icon-620x389.jpg" alt="Smiley face" height="200" width="300"></div>
          <button type="button">Likes</button>
          <button type="button">Comments</button>
        </td>

        <td>
          <div id="box"><img src="http://jnrgym.com/wp-content/uploads/2013/08/Facebook-no-profile-picture-icon-620x389.jpg" alt="Smiley face" height="200" width="300"></div>
          <button type="button">Likes</button>
          <button type="button">Comments</button>
        </td>
      </tr>

    </tbody></table>
