<link href="/css/Derek.css" rel="stylesheet" type="text/css">

<div class="content">
    <div class="squeeze">
      <div class="login">
        <div>
          <form>
            <p>don't have a profile? <a href="https://instagram.com">Sign Up</a></p>
            <a id="button" href="/authorize">Log In</a>
          </form>
        </div>
        <div>
          <h1>Welcome</h1>
          <p class="callout">(<span style="text-decoration: underline;">Insert clever name here</span>) allows you to view and organize your photos from Instagram! You can also save your favorite searches and edit your profile. Log in to continue. </p>
        </div>
      </div>
      <div class="profile hidden">
        <img src=""/>
        <div>
          <h1>Hello _____</h1>
        </div>
      </div>
    </div>
</div>
