<link href="/css/Derek.css" rel="stylesheet" type="text/css">

<div class="content">
    <div class="squeeze">
      <div class="search">

  <h1>Add New Favorite Search</h1>
<form class="user-form" action="/user/savedsearch/add" method="post">
  <input type="hidden" name="_id" value="{{user._id}}">
  <p>
    <input type="text" name="tag" value="" placeholder="Tag Name">
  </p>
  <p>
    <input type="submit" name="submit" value="Submit" id="button"/>
  </p>
</form>

<div class="searchresults">
{{#if user.tags}}
  <h2>Current Favorite Searches</h2>
  {{#each user.tags}}
  <br />
    <form action="/user/savedsearch/remove" method="post">
      <li>#<a href="/user/search/{{this}}">{{this}}</a></li>
      <input type="hidden" name="tag" value="{{this}}">
      <button type="submit">Delete</button>
    </form>
  {{/each}}
{{/if}}
</div>
</div>
</div>
</div>
