<link href="/css/Derek.css" rel="stylesheet" type="text/css">

<div class="content">
    <div class="squeeze">
      <div class="search">
        <div>
          <a id="saveicon" href="#"></a>
          <form>
            <input type="text" name="search"/>
            <input type="submit" value="Search" id="button"/>
          </form>
          <div class="clear"></div>
        </div>
        <div>
          <h2>recent searches</h2>
          <ul>
            <li><a href="#">search term</a></li>
            <li><a href="#">search term</a></li>
            <li><a href="#">search term</a></li>
            <li><a href="#">search term</a></li>
          </ul>
        </div>
        <div class="clear"></div>
      </div>
      <div class="searchresults">
        <div>
          <img src="/images/placeholder.gif"/>
          <div>
            <h3>tags</h3>
            <ul>
              <li><a href="#">tag</a></li>
              <li><a href="#">tag</a></li>
              <li><a href="#">tag</a></li>
              <li><a href="#">tag</a></li>
            </ul>
            <a id="likebutton" href="#"></a>
          </div>
        </div>
        <div>
          <img src="/images/placeholder.gif"/>
          <div>
            <h3>tags</h3>
            <ul>
              <li><a href="#">tag</a></li>
              <li><a href="#">tag</a></li>
              <li><a href="#">tag</a></li>
              <li><a href="#">tag</a></li>
            </ul>
            <a id="likebutton" href="#"></a>
          </div>
        </div>
        <div>
          <img src="/images/placeholder.gif"/>
          <div>
            <h3>tags</h3>
            <ul>
              <li><a href="#">tag</a></li>
              <li><a href="#">tag</a></li>
              <li><a href="#">tag</a></li>
              <li><a href="#">tag</a></li>
            </ul>
            <a id="likebutton" href="#"></a>
          </div>
        </div>
        <div>
          <img src="/images/placeholder.gif"/>
          <div>
            <h3>tags</h3>
            <ul>
              <li><a href="#">tag</a></li>
              <li><a href="#">tag</a></li>
              <li><a href="#">tag</a></li>
              <li><a href="#">tag</a></li>
            </ul>
            <a id="likebutton" href="#"></a>
          </div>
        </div>
      </div>
    </div>
</div>
