<link href="/css/Derek.css" rel="stylesheet" type="text/css">

<div class="content">
    <div class="squeeze">
      <div class="search">
        <div>
          <a id="saveicon" href="#"></a>
          <form action="" method="post">
            <input type="text" name="query"/>
            <input type="submit" name="submit" value="Submit" id="button"/>
          </form>
          <div class="clear"></div>
        </div>
        <div>
          <h2>recent searches</h2>
          <ul>
            <li><a href="#">search term</a></li>
            <li><a href="#">search term</a></li>
            <li><a href="#">search term</a></li>
            <li><a href="#">search term</a></li>
          </ul>
        </div>
        <div class="clear"></div>
      </div>
      <div class="searchresults">
        {{#each feed}}
        <div>
          <img src="{{this.images.standard_resolution.url}}" alt=""/>
          <div>
            {{#if this.tags}}
            <h3>tags</h3>
            <ul>
              {{#each this.tags}}
              <li><a href="/user/search/{{this}}">{{this}}</a>,</li>
              {{/each}}
            </ul>
            {{/if}}
            <a id="likebutton" href="#"></a>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
</div>
